/* styles/BorderEffect.css */
.border-effect {
    position: relative;
  }
  
  .border-effect::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    border: 8px solid #fff; /* Set border color to white */
    box-shadow: 0 0 40px rgba(255, 170, 64, 0.8); /* Add a box shadow to enhance visibility */
    background-image: linear-gradient(90deg, rgba(255, 170, 64, 0.8), rgba(156, 64, 255, 0.8), rgba(255, 170, 64, 0.8));
    background-size: 300% 300%;
    animation: border-animation 3s linear infinite;
    z-index: -1;
  }
  
  @keyframes border-animation {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }